
# ignore all files by default
*
# not sure why this is needed for next part, but it is
!*/

# allow this git ignore file
!.gitignore
# allow the readme file
!readme.md

# lekmod data changes
# all files in LEKMOD folder
!/DLC/LEKMOD/**

# lekmod map changes
# anything starting with HB
!/Maps/HB*
# anything starting with Lekmap
!/Maps/Lekmap*

# text
#!/DLC/LEKMOD_V28.2/Override/CIV5Units_Mongol.xml

# main menu background and music
#!/DLC/LEKMOD_V28.2/UI/policy_buildings.lua
#!/DLC/LEKMOD_V28.2/UI/CityBannerManager.lua
#!/DLC/LEKMOD_V28.2/UI/InGame.lua
# tourism combat mod
#!/DLC/LEKMOD_V28.2/Mods/No Quitters Mod (v 11)/ui/EnemyUnitPanel.lua
# remove old exploration policy behavior
#!/DLC/LEKMOD_V28.2/Mods/No Quitters Mod (v 11)/social_policies/8_exploration/*.lua
# demographics screen
#!/DLC/LEKMOD_V28.2/UI/InGame/Popups/Demographics.lua

# main menu background and music
#!/DLC/Expansion2/**/AudioDefinesExpansion2.xml
#!/DLC/LEKMOD_V28.2/civilzationvatlas-vanilla.dds
#!/UI/FrontEnd/FrontEnd.lua

# dlls
#!/DLC/LEKMOD_V28.2/CvGameCore_Expansion2*
# dll code
#!/DLC/LEKMOD_V28.2/nqmod-vs2008-master/**
# dll compile residue
#**.obj
#**.asm
#**.ncb
#**.suo
#**.user
#**/BuildTemp